body,h3 {font-family:Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;}
* {box-sizing:border-box;}


input[type=text], input[type=password],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(245, 242, 242);
  border-radius: 4px;
  box-sizing:border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit],input[type=reset] {
  background-color: rgb(100, 99, 100);
  color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  
}

input[type=submit]:hover,input[type=reset]:hover {
  background-color: rgb(27, 26, 27);
}

.container {
  border-radius: 5px;
  background-color:rgba(218, 216, 216, 0.301);
  padding: 20px;
  display:flex;
  justify-content: center;
  width:50%;
}